<form action="/<%= paste_id %>" method="POST">
  <div class="input-append filename right-form">
    <input class="span2" name="filename" placeholder="File Name" id="appendedInputButton" type="text">
    <button class="btn" id="browse-btn" type="button">Browse</button>
  </div>
  <textarea id="scriptarea" name="data" class="highlight script_drop" placeholder="Write code here or drag-n-drop a file..."><%= curr_data %></textarea>

  <div class="right-form">
  <select name="lang">
    <option value="">Plain Text</option>
    <option value='-' disabled>-----</option>
  <% languages.each do |lang| %>
    <option value="<%= lang %>"<%= " selected" if lang == curr_lang %>>
      <%=lang%>
    </option>
  <% end %>
  </select>
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <input class="btn" name="file" id="browse-func" type="file"/>
</form>
