<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/themes/default.css" />
    <%= theme_css %>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/codely.css" />
    <script src="/js/jquery-1.8.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Codely</a>
        </div>
      </div>
    </div>


    <div class="alert-wrapper"></div>


    <div class="modal hide fade" id="prompt">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="prompt-title"></h4>
      </div>
      <div class="modal-body">
        <p class="prompt-msg"></p>
      </div>
      <div class="modal-footer prompt-footer">
      </div>
    </div>


    <div class="container" style="margin-top: 50px">
      <%= yield %>
    </div>
    <script src="/js/codely.js"></script>
    <script language="javascript">
      <% if @alert %>
      Codely.alert("<%= @alert %>", "error");
      <% end %>
      <% if @notice %>
      Codely.alert("<%= @notice %>", "info");
      <% end %>
    </script>
  </body>
</html>
